> (Enron_email_threads_updated) Dataset

# you are working for a company that handling emails so your manager askes you to see the most domain that recieves emails 

# the recived mail must has "TO" in column Type , not CC or BCC , so make sure to filter with this column first and clean its values with string operations for better filter

> use sep , encoding parameters in read_csv()

In [1]:
import pandas as pd
df = pd.read_csv(r'D:\COURSES\AI\Epsilon Ai\Session 25\Assigment\datasets\Enron_email_threads_updated.csv',encoding="utf_16",sep='\t')

In [2]:
df

,TID,MID,From,TO,Timestamp,Type
0,155a74d0930df40c,e9c42ba707f5e84,mark.whitt@enron.com,heidi.dubose@enron.com,2001-10-25T07:02:55-07:00,TO
1,155a01503aaa94d2,ea7d7b79039db9c,barry.tycholiz@enron.com,jessica.presas@enron.com,2001-11-30T05:39:51-08:00,TO
2,155a0146556ac9cb,e9e418ca9b8987a,barry.tycholiz@enron.com,stephanie.miller@enron.com,2001-10-31T10:50:10-08:00,TO
3,1559a0a82828c7c9,ea57a25b4ab0621,enron_update@concureworkplace.com,s..shively@enron.com,2001-11-22T21:16:45-08:00,TO
4,1559a0a82828c7c9,ea57a247904c8e9,enron_update@concureworkplace.com,jsteffe@enron.com,2001-11-22T21:16:40-08:00,TO
...,...,...,...,...,...,...
471869,eb1188617718448,eb1188617718448,pete.davis@enron.com,pete.davis@enron.com,2001-12-28T23:37:45-08:00,TO
471870,eb1188617718448,eb1188617718448,pete.davis@enron.com,pete.davis@enron.com,2001-12-28T23:37:45-08:00,CC
471871,eb1188617718448,eb1188617718448,pete.davis@enron.com,pete.davis@enron.com,2001-12-28T23:37:45-08:00,BCC
471872,eb1188617718448,eb1188617718448,pete.davis@enron.com,ryan.slinger@enron.com,2001-12-28T23:37:45-08:00,CC
471873,eb1188617718448,eb1188617718448,pete.davis@enron.com,ryan.slinger@enron.com,2001-12-28T23:37:45-08:00,BCC

In [3]:
df.head()

,TID,MID,From,TO,Timestamp,Type
0,155a74d0930df40c,e9c42ba707f5e84,mark.whitt@enron.com,heidi.dubose@enron.com,2001-10-25T07:02:55-07:00,TO
1,155a01503aaa94d2,ea7d7b79039db9c,barry.tycholiz@enron.com,jessica.presas@enron.com,2001-11-30T05:39:51-08:00,TO
2,155a0146556ac9cb,e9e418ca9b8987a,barry.tycholiz@enron.com,stephanie.miller@enron.com,2001-10-31T10:50:10-08:00,TO
3,1559a0a82828c7c9,ea57a25b4ab0621,enron_update@concureworkplace.com,s..shively@enron.com,2001-11-22T21:16:45-08:00,TO
4,1559a0a82828c7c9,ea57a247904c8e9,enron_update@concureworkplace.com,jsteffe@enron.com,2001-11-22T21:16:40-08:00,TO

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471874 entries, 0 to 471873
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   TID        471874 non-null  object
 1   MID        471874 non-null  object
 2   From       471874 non-null  object
 3   TO         471872 non-null  object
 4   Timestamp  471874 non-null  object
 5   Type       471874 non-null  object
dtypes: object(6)
memory usage: 21.6+ MB

In [5]:
df.isna().sum()

TID          0
MID          0
From         0
TO           2
Timestamp    0
Type         0
dtype: int64

In [6]:
df.dropna(subset=['TO'],inplace=True)

In [7]:
df.isna().sum()

TID          0
MID          0
From         0
TO           0
Timestamp    0
Type         0
dtype: int64

In [8]:
df.Type.value_counts()

Type
TO      353404
BCC      60160
CC       58235
TO"         52
BCC"        14
CC"          7
Name: count, dtype: int64

In [9]:
df.Type= df.Type.str.replace('"','')

In [10]:
df.Type.value_counts()

Type
TO     353456
BCC     60174
CC      58242
Name: count, dtype: int64

In [11]:
def extract_domain(email):
  return email.split('@')[1]

In [12]:
df['from_domain'] = df.From.apply(extract_domain)

In [13]:
df.columns

Index(['TID', 'MID', 'From', 'TO', 'Timestamp', 'Type', 'from_domain'], dtype='object')

In [20]:
df['To'] = df.TO.apply(extract_domain)

In [15]:
df[~df.TO.str.contains('@')]

,TID,MID,From,TO,Timestamp,Type,from_domain
63386,e9b488982b35baa,e9b488982b35baa,david_nobles@ewingcc.com,<p.>,2001-10-22T06:10:31-07:00,BCC,ewingcc.com

In [16]:
df.drop(63386, axis=0, inplace=True)

In [17]:
df['To_domain'] = df.TO.apply(extract_domain)

In [18]:
df

,TID,MID,From,TO,Timestamp,Type,from_domain,To_domain
0,155a74d0930df40c,e9c42ba707f5e84,mark.whitt@enron.com,heidi.dubose@enron.com,2001-10-25T07:02:55-07:00,TO,enron.com,enron.com
1,155a01503aaa94d2,ea7d7b79039db9c,barry.tycholiz@enron.com,jessica.presas@enron.com,2001-11-30T05:39:51-08:00,TO,enron.com,enron.com
2,155a0146556ac9cb,e9e418ca9b8987a,barry.tycholiz@enron.com,stephanie.miller@enron.com,2001-10-31T10:50:10-08:00,TO,enron.com,enron.com
3,1559a0a82828c7c9,ea57a25b4ab0621,enron_update@concureworkplace.com,s..shively@enron.com,2001-11-22T21:16:45-08:00,TO,concureworkplace.com,enron.com
4,1559a0a82828c7c9,ea57a247904c8e9,enron_update@concureworkplace.com,jsteffe@enron.com,2001-11-22T21:16:40-08:00,TO,concureworkplace.com,enron.com
...,...,...,...,...,...,...,...,...
471869,eb1188617718448,eb1188617718448,pete.davis@enron.com,pete.davis@enron.com,2001-12-28T23:37:45-08:00,TO,enron.com,enron.com
471870,eb1188617718448,eb1188617718448,pete.davis@enron.com,pete.davis@enron.com,2001-12-28T23:37:45-08:00,CC,enron.com,enron.com
471871,eb1188617718448,eb1188617718448,pete.davis@enron.com,pete.davis@enron.com,2001-12-28T23:37:45-08:00,BCC,enron.com,enron.com
471872,eb1188617718448,eb1188617718448,pete.davis@enron.com,ryan.slinger@enron.com,2001-12-28T23:37:45-08:00,CC,enron.com,enron.com
471873,eb1188617718448,eb1188617718448,pete.davis@enron.com,ryan.slinger@enron.com,2001-12-28T23:37:45-08:00,BCC,enron.com,enron.com

In [19]:
df.groupby('To_domain')['To_domain'].count().sort_values(ascending=False)

To_domain
enron.com              442340
aol.com                  1485
hotmail.com               995
enron.com>                933
ect.enron.com             896
                        ...
bmgmusicservice.com         1
s-h.com                     1
co.multnomah.or.us          1
s2systems.com               1
cristventures.com           1
Name: To_domain, Length: 2867, dtype: int64